<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="./statics/main.css")
  title cesanime
body
  div.app
    div.form-login
      h1.title Admin Cesanime
      form(action="" method = "POST")
        input(type = "text", name = "username"  placeholder = "username" class = "input-login")
        br
        input(type = "password", name = "password" class = "input-login")
        div.right
          input(type = "submit" value = "entrar" class = "btn btn-green")
